@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
/*   border: 1px solid #FA0A0A; */
}

:root {
    --color: #191919;
}

body {
    font-family: "Roboto", sans-serif;
    color:var(--hello)
}

.info {
    margin-block: 60px;
}

.info h2 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
}

.info h5 {
    font-size: 16px;
    font-weight: 700;

}

.info p {
    font-size: 16px;
    margin-bottom: 1em;

}

.container {
    width: calc(100% - 30px * 2);
    max-width: 850px;
    margin: 0 auto;
}

.info__link {
    color: #FF7010;
    background: none;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.info__text {
    transition: max-height 1s;
    max-height: 310px;
    overflow: hidden;
    position: relative;

}

.info__text--active {
    max-height: 1000px;
}


.info__text::after {
    width: 100%;
    height: 310px;
    opacity: 1;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transition: opasity 1s, height 1s;
}

.info__text--active::after {
    opacity: 0;
    height: 1000px;
}

/* Catalog */

.catalog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.catalog__title {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 24px;
    
}

.catalog__filter--button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    padding: 9px 16px;
    cursor: pointer;
    color: var(--hello);
 /*   transition: background-color .3s, color .3s; */
    transition-duration: .3s;
    transition-property: background-color, color;
}

.catalog__filter--button svg {
    transition: fill .3s;
    fill:#FF7010;
}

.catalog__filter--button:hover {
    background-color: #FF7010;
    color: #FFFFFF;
}

.catalog__filter--button:hover svg {
    fill: #FFFFFF;
}

/* Popup */

.no-scroll {
    overflow: hidden;
}

.popup-filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px) brightness(0.6);
    justify-content: end;
    display: none; /* в начале не показывает на стр (анимация)*/
    opacity: 0; /* в начале не показывает на стр (анимация)*/
    transition: opacity .3s; /* в начале не показывает на стр (анимация) */
}

.popup-filter--show {
    display: flex; /*показывает на стр (анимация) */
}

.popup-filter--active {
    opacity: 1; /*показывает на стр (анимация) */
}

.popup-filter__body {
    background-color: white;
    width: 520px;
    height: 100%;
    overflow: auto;
    transform: translateX(520px);
    transition: transform .3s;
    /* right: 0; */
    /* position: absolute; */
}
.popup-filter--active .popup-filter__body {
    transform: translateX(0px);
}

.popup-filter__content {
    padding: 32px 20px 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup-filter__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-filter__header h2 {
    font-family: Inter, Courier, monospace;
    font-size: 32px;
    font-weight: 600;
}

.popup-filter__groups {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.popup-filter__group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.popup-filter__group h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #A5A5A5;
    font-weight: 400;
}

.popup-filter__checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.popup-filter__checkbox button,
.popup-filter__buttons button
 {
    background-color: #fff;
    color: var(--hello);
    padding: 11px 16px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: .3s;
    transition-property: background-color, border, color;
}

.popup-filter__checkbox button:hover,
.popup-filter__buttons button:hover,
.popup-filter__buttons button.hover
 {
    color: #FF7010;
    border: 1px solid #FF7010;
}

.popup-filter__checkbox button.active,
.popup-filter__buttons button.active
{
    background-color: #FF7010;
    color: #fff;
    border: 1px solid #FF7010;
}

.popup-filter__buttons {
    display: flex;
    gap: 20px;
    padding: 12px 20px;
    border-top: 1px solid #F0F0F0;
}

.popup-filter__buttons button {
    flex-grow: 1;
}

.popup-filter__close {
    cursor: pointer;
}


/* End Popup */